<div>
  <span class="input-group-text" id="basic-addon1" style="color: #005ba6;font-weight: bold;">Se encuentras en estado de embarazo: *&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select class="form-select" id="embarazo" name="embarazo">
          <option value="Positivo" required>Positivo</option>
          <option value="Negativo" required>Negativo</option>
      </select>
    </span>
    <span class="input-group-text" id="basic-addon1" style="color: #005ba6;font-weight: bold;">Se encuentras en estado de lactancia: *&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select class="form-select" id="lactancia" name="lactancia">
          <option value="Positivo" required>Positivo</option>
          <option value="Negativo" required>Negativo</option>
      </select>
    </span>
</div>  